.layoutContact{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas: 'content1'
                         'content2'
                         'content3';
  }
  
  .content1{
    grid-area: content1;
    background-color: aquamarine;
  }
  .content2{
    grid-area: content2;
    background-color: greenyellow;
  }
  .content3{
    grid-area: content3;
    background-color: blue;
  }
 
  
  
  