/* FOOTER */
.iContent4 {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    /* grid-area: content4; */
    background-color: #F18018;
    color: white;
    padding: 1.5rem 1rem 2rem 1rem;
}

.iContent4 a {
    text-decoration: none;
    color: inherit;
}

.iContent4 a:hover {
    font-weight: bold;
}

.iContent4 img {
    display: block;
    margin: auto;
}

/* Termina css del FOOTER */

@media only screen and (max-width: 768px) {
    .iContent4 a {
        font-size: 0.6rem;
    }
}