.layoutInicio{
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:  1fr 5fr;
    grid-template-areas: 
                         'content2'
                         'content3'
                         'content5';
  }
  
/* NAVBAR */
  .iContent1{
    grid-area: content1;
    /* background-color: aquamarine; */
  }
  .navbar{
    width: 100%;
    padding: 1rem;
  }  
  #navLink{
    color: inherit;
  }
  #navButton{
    border-radius: 25px;
    border: #55AECA;
    background-color: #55AECA;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    transition: .4s;
  }
  #navButton:hover{
    transform: scale(1.02);
  }
/* Termina css de NAVBAR */

/* BUSCADOR */
  .iContent2{
    grid-area: content2;
    padding-top: 4.5rem;
    padding-bottom: 3rem;
    /* background-color: greenyellow; */
  }
  .buscador{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buscador h2{
    margin-bottom: .8rem;
  }
  #buscadorInput{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  #buscadorBtn{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: #55AECA;
    background-color: #55AECA;
    transition: .4s;
  }
  #buscadorBtn:hover {
    transform: scale(1.02);
  } 
/* Termina css del BUSCADOR */
 


  .iContent3{
    grid-area: content3;
    background-color: green;
  }


/* FOOTER */
  .iContent5{
    grid-area: content5;
    background-color: rgb(128, 0, 119);
  }
  .iContent4{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    grid-area: content4;
    background-color: #F18018;
    color: white;
    padding: 1.5rem 1rem 2rem 1rem;
    text-align: center;
  }
  .iContent4 a{
    text-decoration: none;
    color: inherit;
  }
  .iContent4 a:hover{
    font-weight: bold;
  }
  .iContent4 img{
    display: block;
    margin:auto;
  }
/* Termina css del FOOTER */
  
  
  @media only screen and (min-width: 768px){
    .layoutInicio{
      width: 100%;
      height: 80vh;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      /* codigo viejo:
      grid-template-rows: 1fr 2fr 5fr 1fr;
      grid-template-areas: 'content1 content1 content1 content1 content1'
                           'content2 content2 content2 content2 content2'
                           'content3 content3 content3 content3 content3'
                           'content4 content4 content4 content4 content4'; */

      grid-template-rows: 1fr 2fr 5fr;
      grid-template-areas: 
                           'content2 content2 content2 content2 content2'
                           'content3 content3 content3 content5 content5'
                           'content3 content3 content3 content5 content5';
    }
  }

  @media only screen and (max-width: 768px) {
    .iContent4 a{
      font-size: 0.6rem;
    }
  }
  