.banner {
  background-color: #F18018;
  color: white;
  padding: 5%;
  text-align:center;
  margin: 3rem 2rem 0 2rem;
}
.banner h5 {
  transition: .4s;
}
.banner h5:hover{
  transform: scale(1.02);
}

.layoutInicio {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 180px 5fr;
  grid-template-areas:
    'buscador'
    'api';
}

/* NAVBAR */
  .navbar {
    width: 100%;
    padding: 1rem;
  }

  #navLink {
    color: inherit;
  }

  #navBtnInicioSesion {
    border-radius: 25px;
    border: #55AECA;
    background-color: #55AECA;
    color: white;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    transition: .4s;
  }

  #navBtnCerrarSesion {
    border-radius: 25px;
    border: #747474;
    background-color: #747474;
    color: white;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    transition: .4s;
  }

  #navBtnInicioSesion:hover,
  #navBtnCerrarSesion:hover {
    transform: scale(1.02);
  }
/* Termina css de NAVBAR */

/* BUSCADOR */
  .buscadorContainer {
    grid-area: buscador;
    padding-top: 4.5rem;
    padding-bottom: 3rem;
  }

  .buscador {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .buscador h2 {
    margin-bottom: .8rem;
  }

  #buscadorInput {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  #buscadorBtn {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: #55AECA;
    background-color: #55AECA;
    transition: .4s;
  }

  #buscadorBtn:hover {
    transform: scale(1.02);
  }
/* Termina css del BUSCADOR */


/* API */
  .apiContainer {
    grid-area: api;
    margin:1rem 0 2rem 0;
  }
  .heart {
    width: 80px;
    height: 80px;
    background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
    background-position: 0 0;
    cursor: pointer;
    transition: background-position 1s steps(28);
    transition-duration: 0s;
  }
  .heart.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
  }
/* Termina css de la API */



@media only screen and (min-width: 768px) {
  .layoutInicio {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 180px 1fr;
    grid-template-areas:
      'buscador buscador buscador buscador buscador'
      'api api api api api';
  }
}